@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-programas {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1d1d20;
}

.title {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.textfield-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.title h1 span {
    color: #03a9f4;
}

.title h2 {
    color: #caf729;
    font-size: 20px;
    margin-bottom: 1%;
    letter-spacing: 5px;
    font-family: 'Kalam', cursive;
    text-align: center;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    
}
.container-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
}

.card {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    transition: 0.5s;
}

.card:hover {
    background-color: #03a9f4;
    transform: scale(1.1);
}

.img-card {
    height: 80%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.musculacao {
    background-image: url(https://github.com/EduFag/tcc-programas/blob/main/imgprogramas/img2.png?raw=true);
}

.yoga {
    background-image: url(https://github.com/EduFag/tcc-programas/blob/main/imgprogramas/img3.png?raw=true);
}

.cardio {
    background-image: url(img/Sem_título-removebg-preview.png);
}

.peso {
    background-image: url(https://github.com/EduFag/tcc-programas/blob/main/imgprogramas/img5.png?raw=true);
}

.textfield {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textfield h2 {
    text-transform: uppercase;
    color: #ffffff;
}

@media (max-width: 768px) {
    .main-programas {
        height: 175vh;
    }

    .title {
        height: 25vh;
    }

    .container {
        flex-direction: column;
        height: 150vh;
    }

}


@media (max-width: 574px) {
    .main-programas {
        height: 310vh;
    }

    .title {
        height: 25vh;
    }

    .container {
        flex-direction: column;
        height: 285vh;
    }

    .container-left {
        flex-direction: column;
        height: 900px;
        width: 300px;
    }
    .container-right {
        flex-direction: column;
        height: 900px;
        width: 300px;
    }

}